{% extends "kutiva/layout/base.html" %}

{% load staticfiles %}
{% load embed_video_tags %}

{% comment %}

{% endcomment %}
{% load staticfiles %}

{# overide the tile of the page #}
{% block title %}
<title>kutiva</title>
{% endblock %}

{% block styles %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}
<style>

main{
    position: relative;
    top:52px;
    height: 100vh;
}

</style>

<meta charset="utf-8">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible", content="IE=edge">
<meta name="viewport", content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{% static 'stylesheet/course/course.css' %}">
<link rel="stylesheet" href="{% static 'stylesheet/kutiva/footer.css' %}">
{% endblock %}

{% block content %}

{% include "kutiva/layout/navegation.html" %}


<main>
        <div class="container desktop-course-details">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                    <div class="col-md-12">
                                        <div id="players">
                           </div>
                        </div>

                        <div class="col-md-12">
                             <div class="course-content">
                              <h1 class="course-title">{{ course.name }}</h1>
                               <p>Lançado em {{ course.created_date|date:"M d, Y" }} </p>


                                </div>

                              <p> {{ course.description }}</p>

                        <p>Instructor:   {{ course.author.first_name|capfirst }} {{ course.author.last_name|capfirst }}</p>


                        </div>
                        </div>

                </div>
                <div class="col-md-3 course-class">

                 {% for chapter in  course.chapter.all  %}
                 <h3 class=""> {{ chapter.name|capfirst }}</h3>
                 <ul class="">
                 {% for lesson in chapter.lessons.all  %}


                     <li class="unstyledList classTopic"><i class="fal fa-play"></i><a class="unstyledLink" href="{% url 'watch' course.id lesson.id %}"> {{ lesson.name|capfirst }}</a></li>
                      {% endfor %}
                       </ul>

             {% endfor %}


                </div>
            </div>


        </div>


























        <div class="container-fluid mobile-course-details">
            <div class="row">
                    <div class="container-fluid header-course-details">
                        <div class="row">
                        <div class="col-md-12">
                                 <h1 class="course-title">{{ course.name }}</h1>
                                 <p class="course-subtitle">Inciante</p>
                                 <p class="course-subtitle">Lançado em {{ course.created_date|date:"M d, Y" }} </p>
                        </div>
                        </div>
                    </div>
                <div class="container-fluid">
                        <div class="row">

                          <div class="col-md-12 player-box">
                                        <div id="player">
                           </div>
                        </div>
</div>
                    </div>

            </div>
            <div class="container-fluid course-details-content">
                <div class="row">
                    <div class="col-md-12">
                <h2 class="course-subscription-title">Crie uma conta para receber acesso ilimitado</h2>
                        </div>
                <ul>  <span><i class="fal fa-university"></i></span>
                   <li>
                     Acesse todos  cursos criados por especialistas.</li>
                        <span><i class="fal fa-book-open"></i></span>  <li> Faça quantos cursos desejar; não há limite.</li>
                   <span><i class="fal fa-photo-video"></i></span>      <li> Obtenha recomendações personalizadas de cursos</li>
                </ul>

                    <button class="btn-action primary-button"><a class=""  href="{%  url 'student_sigin' %}">Criar conta</a></button>
            </div>
                <div class="col-md-12">
                    <h3 class="course-description-title">Descrição do curso</h3>
                    <p class="course-description-subtitle"> {{ course.description }}</p>
                </div>
                <div class="col-md-12">

                    <h4>Instructor</h4>
                    <div>
                        <div>
                             <h5>   {{ course.author.first_name|capfirst }} {{ course.author.last_name|capfirst }}</h5>
                        </div>
                    </div>


                </div>
                </div>
        </div>






   </main>

{% include "kutiva/layout/footer.html" %}


    {% block scripts %}
     <script  src="https://cdn.jwplayer.com/libraries/NUULarCy.js"></script>
    <script>
          jwplayer("player").setup({
            "streamer": "rtmp:/s1hokzd6wxykag.cloudfront.net/cfx/st",
            "file": "{{ lesson.video }}",
            "image": "{{ lesson.image }}",
            "width": "100%",
            "aspectratio": "16:9"
        });
    </script>

    {% endblock %}
{% endblock %}

