{% extends "kutiva/layout/base.html" %}
{% load staticfiles %}

{% comment %}

{% endcomment %}
{% load staticfiles %}

{# overide the tile of the page #}
{% block title %}
<title>kutiva</title>
{% endblock %}

{% block styles %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}

<meta charset="utf-8">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible", content="IE=edge">
<meta name="viewport", content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'stylesheet/kutiva/main.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet/course/course.css' %}">

<link rel="stylesheet" href="{% static 'stylesheet/kutiva/footer.css' %}">

<style type="text/css">

</style>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140073016-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-140073016-1');
</script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock %}


{% block scripts %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}

{% endblock %}


{% block content %}

{% include "kutiva/layout/navegation.html" %}


<main>
<header class="hero hero--header course-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">



            </div>

                </div>

            </div>




</header>






    <div class="container">
        <div class="row">
    {% for course in courses %}
    <div class="col-md-4">
    <article class="course ">
    <img src="https://udemy-images.udemy.com/course/240x135/1430746_2f43_2.jpg" alt="screencast cover" class="course-image">
    <div class="course-content">
              <h1 class="course-title"><a class="text-decoration-none" href="{% url 'details' course.id %}">{{ course.name }}</a></h1>
               <ul>
                 <li class="course-author">{{ course.author.first_name|capfirst }} {{ course.author.last_name|capfirst }}</li>

        </ul>
    </div>



  </article>
    </div>

              {% endfor %}


</div>
    </div>
</main>
{% include "kutiva/layout/footer.html" %}


{% endblock %}

