{% extends "kutiva/layout/base.html" %}
{% load staticfiles %}

{% comment %}

{% endcomment %}
{% load staticfiles %}

{# overide the tile of the page #}
{% block title %}
<title>kutiva</title>
{% endblock %}

{% block styles %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}
<link rel="stylesheet" href="{% static 'stylesheet/kutiva/navegation.css' %}">
<link rel="stylesheet" href="{% static 'stylesheet/kutiva/main.css' %}">
<link rel="stylesheet" href="{% static 'stylesheet/kutiva/footer.css' %}">
    <style>

        .paidCoursesHeader{

        }
        .paidCoursesHeaderTitle{
           

        }
        header{
            display: grid;
            grid-template-columns: 70% 20%;
            margin: 0;
            padding: 0;
            height:80px;
            color: #3a343a;
            background-color: #F6F8FA;

            padding: 1% 10%;
        }
        header h1{
            font-size: 25px
        }
    </style>



{% endblock %}



{% block content %}

{% include "kutiva/layout/navegation.html" %}
<main>

  <header class="paidCoursesHeader defaultHeader alignCenter">
        <h1 class="">Meus cursos</h1>

  </header>
        <section class="courses">
 
         {% for course in enrolled %}
      
          

    <article class="course">
    <!-- <img src="https://udemy-images.udemy.com/course/240x135/1430746_2f43_2.jpg" alt="screencast cover" class="cover"> -->

    <h1 class="courseTitle"><a href="{% url 'classroom' course.course.id %}">{{ course.course.name}}  </a></h1>
        <p class="decription">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        </p>
        <ul class="courseDetails">
        <li class="courseAuthor">{{ course.author.first_name|capfirst }} {{ course.author.last_name|capfirst }}</li>

        <li class="skillsLevel">Iniciante</li>
        <img src="https://www.udacity.com/assets/iridium/images/svgs/beginner.svg" alt="level">
        </ul>
  </article>
 {% endfor %}

</section>
               

  </main>      


{% include "kutiva/layout/footer.html" %}
{% endblock %}

