{% extends "kutiva/layout/base.html" %}
{% load staticfiles %}

{% comment %}

{% endcomment %}
{% load staticfiles %}

{# overide the tile of the page #}
{% block title %}
<title>kutiva</title>
{% endblock %}

{% block styles %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}

<meta charset="utf-8">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible", content="IE=edge">
<meta name="viewport", content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'stylesheet/kutiva/main.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="

sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<style type="text/css">
  
  .paymentInformation{
      width: 300px;
      height: auto;
      padding: 20px;
  }
</style>
{% endblock %}


{% block scripts %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}

{% endblock %}


{% block content %}

{% include "kutiva/layout/navegation.html" %}


<main>
    <div class="alignElementCenter">
      <div class="paymentInformation card">
        <h1 class="alignTextCenter"> Pagamentos Mensais</h1>
        <p class="alignTextCenter">Para ter acesso ao cursos da plataforma kutiva e necessario que faca os pagamentos mensais usandos  os seguintes canais</p>
          <ul class="unstyledList alignTextCenter">
            
            <li> Conta móvel: 849394995</li>
            <li> Mpesa: 849394995</li>
            <li>
 Transferência bancária NIB:0003.0105.07041041008.69</li>

          </ul>
          <button class="warning-button">
            hello
          </button>
      </div>

    </div>
</main>
{% include "kutiva/layout/footer.html" %}


{% endblock %}

