{% extends "kutiva/layout/base.html" %}
{% load staticfiles %}

{% comment %}

{% endcomment %}
{% load staticfiles %}

{# overide the tile of the page #}
{% block title %}
<title>kutiva</title>
{% endblock %}

{% block styles %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}

<meta charset="utf-8">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible", content="IE=edge">
<meta name="viewport", content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'stylesheet/kutiva/main.css' %}">

<link rel="stylesheet" href="{% static 'stylesheet/payment/payment.css' %}">
<link rel="stylesheet" href="{% static 'stylesheet/kutiva/footer.css' %}">

<style type="text/css">

</style>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140073016-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-140073016-1');
</script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock %}


{% block scripts %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}

{% endblock %}


{% block content %}

{% include "kutiva/layout/navegation/navegation.html" %}


<main>
<header class="hero hero--header payment-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">



            </div>

                </div>

            </div>
            <div>



</div>


</header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
          <div class="payment-notice">
        <h1 class="payment-title"> <span><i class="fal fa-calendar-alt"></i></span>Pagamentos Mensais</h1>
        <h2 class="payment-subtitle" ><span><i class="fal fa-info"></i></span>Para o acesso aos cursos da plataforma kutiva é necessário que faça o pagamento mensal de 2000 meticais usados os seguintes canais</h2>
        <div class="payment-content">
{{ user.student.subscription.expired_date }}
                  <ul >

            <li><span><i class="fal fa-credit-card"></i></span>Conta móvel: 849394995</li>
            <li><span><i class="fal fa-mobile"></i></span> Mpesa: 849394995</li>
            <li>
<span><i class="fal fa-exchange"></i></span> Transferência bancária NIB:0003.0105.07041041008.69</li>
          </ul>
        </div>
</div>

    </div>
</div>
</div>


</main>
{% include "kutiva/layout/footer.html" %}


{% endblock %}



