{% extends "kutiva/layout/base.html" %}

{% load staticfiles %}
{% load embed_video_tags %}

{% comment %}

{% endcomment %}
{% load staticfiles %}

{# overide the tile of the page #}
{% block title %}
<title>kutiva</title>
{% endblock %}

{% block styles %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}
<link rel="stylesheet" href="{% static 'stylesheet/kutiva/watch.css' %}">
<style>
    
   

</style>
{% endblock %}


{% block content %}
    {% include "kutiva/layout/navegation.html" %}

    <main>
    <header class="classroom ">
        <div class="whiteboard">
                <div class="alignElementCenter">
                      <div id="player">

                    </div>
                </div>
                  
                

       </div>
           
        <section class="details card">
          
            <h1>{{ course.name }}</h1>

          <div class="curriculum">
               <h2 class="link-button tab-tittle">Currículo</h2>

                 {% for chapter in  course.chapter.all  %}
                 <h3 class="chapter"> {{ chapter.name|capfirst }}</h3>
                 <ul class="">
                 {% for lesson in chapter.lessons.all  %}

                     
                     <li class="unstyledList"><a class="link-button unstyledLink" href="{% url 'watch' course.id lesson.id %}"> {{ lesson.name|capfirst }}</a></li>
                      {% endfor %}
                       </ul>
                                   
             {% endfor %}
              </div>

            </section>

         </header>  
             
   </main>

   
    {% block scripts %}
     <script  src="https://cdn.jwplayer.com/libraries/NUULarCy.js"></script>
    <script>
          jwplayer("player").setup({
            "streamer": "rtmp:/s1hokzd6wxykag.cloudfront.net/cfx/st",
            "file": "{{ lesson.video }}",
            "image": "{{ lesson.image }}",
            "width": "100%",
            "aspectratio": "16:9"
        });
    </script>

    {% endblock %}
{% endblock %}

