{% extends "kutiva/layout/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% comment %}

{% endcomment %}
{% load staticfiles %}

{# overide the tile of the page #}
{% block title %}
    <title>kutiva</title>
{% endblock %}


{% block styles %}
    {#    only include css  files needed for thi page bootstap and other libs are add in base template #}

    <meta charset="utf-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" , content="IE=edge">
    <meta name="viewport" , content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'stylesheet/kutiva/main.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet/course/course.css' %}">

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({selector: 'textarea'});</script>

    <link rel="stylesheet" href="{% static 'stylesheet/kutiva/footer.css' %}">

    <style type="text/css">
        main {
            background: #faf9f7;
        }

        .post {
            margin: 5px 0px;
        }

        .post-user-perfil-photo {

            border-radius: 100%;
            height: 35px;

        }

        .post-text {
            font-weight: normal;
            font-size: 18px;
        }
           main {
            margin-top: 52px;
            padding-top: 20px;

        }


    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140073016-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-140073016-1');
    </script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock %}


{% block scripts %}
    {#    only include css  files needed for thi page bootstap and other libs are add in base template #}

{% endblock %}


{% block content %}

    {% include "kutiva/layout/navegation/navegation.html" %}


    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            {% for course in courses %}
                                   <h5 class="card-title"><a href="{% url 'details' course.id %}">{{ course.name }}</a></h5>

                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="row">

                        <div class="col-md-12">


                            <div class="card post">
                                <div class="card-body">
                                    <h5 class="card-title post-text"><img class="post-user-perfil-photo"
                                                                          src="{{ post.user.student.photo.url }}"
                                                                          alt="{{ post.user.first_name|capfirst }} {{ post.user.last_name|capfirst }}"> {{ post.user.first_name|capfirst }} {{ post.user.last_name|capfirst }}
                                    </h5>
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        {{ post.created_date|naturaltime }}</h6>
                                    <h5 class="card-title">{{ post.title}}</h5>

                                    <p class="card-text">{{ post.text|safe|linebreaksbr }}</p>

                                </div>
                            </div>


                        </div>

                        <div class="col-md-12 card mb-6  mt-3 ">
                            <div class="card-body">
                                <!-- comments -->
                                <h5>{{ comments.count }} Respostas</h5>

                                {% for comment in comments %}
                                    <div class="comments" style="padding: 10px;">
                                        <p class="font-weight-bold"><img class="post-user-perfil-photo"
                                                                         src="{{ comment.user.student.photo.url }}"/>
                                            {{ comment.user.first_name|capfirst }} {{ comment.user.last_name|capfirst }}
                                            <span class=" text-muted font-weight-normal">
              {{ comment.created_on|naturaltime }}
            </span>
                                        </p>
                                        {{ comment.body|safe|linebreaksbr }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-12 card mb-6  mt-3 ">
                            <div class="card-body">
                                {% if new_comment %}
                                    <div class="alert alert-success" role="alert">
                                    Seu comentário está aguardando aprovação
                                    </div>
                                {% else %}
                                    <h3> Sua resposta </h3>
                                    <form method="post" style="margin-top: 1.3em;">
                                        {{ comment_form.as_p }}
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary  btn-lg">
Publique sua resposta                                        </button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-md-2">

                </div>


            </div>
        </div>


    </main>
    {% include "kutiva/layout/footer.html" %}


{% endblock %}



