{% extends "kutiva/layout/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% comment %}

{% endcomment %}
{% load staticfiles %}

{# overide the tile of the page #}
{% block title %}
    <title>kutiva</title>
{% endblock %}


{% block styles %}
    {#    only include css  files needed for thi page bootstap and other libs are add in base template #}

    <meta charset="utf-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" , content="IE=edge">
    <meta name="viewport" , content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'stylesheet/kutiva/main.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet/kutiva/community.css' %}">

    <link rel="stylesheet" href="{% static 'stylesheet/account/.css' %}">



    <link rel="stylesheet" href="{% static 'stylesheet/kutiva/footer.css' %}">

    <style type="text/css">


    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140073016-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-140073016-1');
    </script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock %}


{% block scripts %}
    {#    only include css  files needed for thi page bootstap and other libs are add in base template #}

{% endblock %}


{% block content %}

    {% include "kutiva/layout/navegation/navegation.html" %}


    <main>

        <div class="container-fluid community-header">
            <div class="container">


                <div class="row">
                    <div class="col-md-6">
                        <p>
                            Em caso de qualquer dúvida relacionada a programação, sinta-se a vontade em partilhar no nosso espaço criado para perguntas e respostas para  programadores profissionais e
                            entusiastas.</p>

                    </div>
                    <div class="col-md-6">
                        <p>Qualquer pessoa pode fazer uma pergunta </p>
                        <p> Qualquer um pode responder </p>
                    </div>

                </div>

            </div>
        </div>


        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            {% for course in courses %}
                                <h5 class="card-title"><a href="{% url 'details' course.id %}">{{ course.name }}</a>
                                </h5>
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5> Explore nossas perguntas </h5>
                                </div>
                                <div class="col-md-6">
                                    <a class="btn btn-primary float-right" href="{% url "ask_question" %}"
                                       role="button">Faça uma pergunta</a>
                                </div>

                            </div>
                        </div>
                        {% for post in posts %}
                            <div class="col-md-12">


                                <div class="card post">
                                    <div class="card-body">
                                        <p class="font-weight-bold"><img class="post-user-perfil-photo"
                                                                         src="{{ post.user.student.photo.url }}"
                                                                         alt="{{ post.user.first_name|capfirst }} {{ post.user.last_name|capfirst }}"> {{ post.user.first_name|capfirst }} {{ post.user.last_name|capfirst }}
                                        </p>
                                        <h6 class="card-subtitle mb-2 text-muted">
                                            {{ post.created_date|naturaltime }}</h6>
                                        <p class="card-text text-primary"><a class="text-primary"
                                                                             href="{% url 'post_detail' post.id %}">{{ post.title|linebreaksbr }}</a>
                                        </p>
                                        <a class="card-link" href="{% url 'post_detail' post.id %}">
                                            Responder</a>
                                        <a href="#" class="card-link">Vote</a>
                                    </div>
                                </div>


                            </div>
                        {% endfor %}
                    </div>

                </div>

                <div class="col-md-2">

                </div>


            </div>
        </div>


    </main>
    {% include "kutiva/layout/footer.html" %}


{% endblock %}
