.page-error {
    margin-top: 115px;
}

.error-title {
    font-size: 25px;
    color: #333;
    font-weight: normal;
    text-align: center;
}

.error-subtitle {
     font-weight: normal;
    text-align: center;
    font-size: 18px;
    color: #333;
}