{% extends "kutiva/layout/base.html" %}
{% load staticfiles %}

{% comment %}

{% endcomment %}
{% load staticfiles %}

{# overide the tile of the page #}
{% block title %}
<title>kutiva</title>
{% endblock %}

{% block styles %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}
<meta charset="utf-8">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible", content="IE=edge">
<meta name="viewport", content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'stylesheet/kutiva/main.css' %}">
<link rel="stylesheet" href="{% static 'stylesheet/conference/speaker.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


{% endblock %}



{% block content %}




<main>
    <header>

<nav>
     <h1><img src="{% static 'images/logo2.png' %}" alt="kutiva logo"></h1>
    <ul>
        <li>adcionar</li>
        <li>perfil</li>
    </ul>
</nav>



</header>

</main>

{% include "kutiva/layout/footer.html" %}
{% endblock %}

