{% extends "kutiva/layout/base.html" %}
{% load staticfiles %}

{% comment %}

{% endcomment %}
{% load staticfiles %}

{# overide the tile of the page #}
{% block title %}
title     kutiva - Erro interno do servidor
{% endblock %}


{% block styles %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}

link(rel="stylesheet",   href="{% static 'stylesheet/kutiva/main.css' %}")
link(rel="stylesheet",   href="{% static 'stylesheet/error/error.css' %}")
link(rel="stylesheet",   href="{% static 'stylesheet/kutiva/footer.css' %}")




<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock %}


{% block scripts %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}
<!-- Global site tag (gtag.js) - Google Analytics -->
script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-140073016-1")
script
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-140073016-1');
{% endblock %}


{% block content %}

{% include "kutiva/layout/navegation.html" %}


main
    .container
        .row
            .col-md-12
                .page-error

                    h1.error-title Erro interno do servidor


                    h3.error-subtitle Tente voltar à página anterior -
                        a(href="{% url 'index'   %}")   Voltar

{% include "kutiva/layout/footer.html" %}


{% endblock %}

