.perfil-header {

    padding-top: 100px;
    height: 450px;
    background-image: url("../../images/account.png");
    position: relative;
    color: white;
}

.perfil-information ul li span {
    font-size: 22px;
    padding: 10px;
}
.perfil-subtitle {
    font-size: 22px;
}
.perfil-information {
    margin-top: -150px;
    height: 300px;
    padding: 50px;
}

.radius-perfil {
    color: #1f1f1f;
   width: 120px;
    height: 120px;
    border-radius: 100%;
    background: white;
    display: block;
    margin: 0 auto;
    text-align: center;


}