body{

  margin: 0;
  padding: 0;
}
.logo{
  display: block;
    margin: 0 auto;
    width: 70px;
    height: 70px;
}
.sign{
  height: 400px;
  width: 400px;
   border: 1px solid #dbe2e8;
  background-color: white;
  border-radius: 9px;
}
input{
  width: 350px;
}
