{% extends "kutiva/layout/base.html" %}
{% load staticfiles %}

{% comment %}

{% endcomment %}
{% load staticfiles %}

{# overide the tile of the page #}
{% block title %}
<title>kutiva</title>
{% endblock %}

{% block styles %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}

<meta charset="utf-8">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible", content="IE=edge">
<meta name="viewport", content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'stylesheet/kutiva/main.css' %}">
<style type="text/css">
  header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);   
    height: 80vh;
  }
  .welcomeText button{
    margin: 0;
  }
</style>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140073016-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-140073016-1');
</script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock %}


{% block scripts %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}

{% endblock %}


{% block content %}

{% include "kutiva/layout/navegation.html" %}


<main>
<header class="landingPageHeader">

  <div class="alignElementCenter">
    <div class="welcomeText">
    
     {% if user.is_authenticated %}
     {%  else %}
         <a  class="primary-button"  href="{%  url 'student_sigin' %}" style="padding:10px;
         text-decoration:none;">Criar conta</a>   

{% endif %}
  </div>
</div>
 
</header>


       <h1 class="headlineCourse">cursos recentes</h1>

       

  <section class="courses">
    {% for course in courses %}

    <article class="course">
    <!-- <img src="https://udemy-images.udemy.com/course/240x135/1430746_2f43_2.jpg" alt="screencast cover" class="cover"> -->
    
    <h1 class="courseTitle"><a href="{% url 'details' course.id %}">{{ course.name }}</a></h1>
        <ul class="courseDetails">
        <li class="courseAuthor">{{ course.author.first_name|capfirst }} {{ course.author.last_name|capfirst }}</li>
        <li class="skillsLevel">Iniciante</li>
        <img src="https://www.udacity.com/assets/iridium/images/svgs/beginner.svg" alt="level">
        <!-- <p class="decription">{{ course.description|wordwrap:10 }}</p> -->
        </ul>
  </article>
  
              {% endfor %}
</section>

    <button class="seeCourses primary-button"><a href="{% url 'course' %}">todos cursos</a></button>


</main>
{% include "kutiva/layout/footer.html" %}


{% endblock %}

