{% extends "kutiva/layout/base.html" %}
{% load staticfiles %}

{% comment %}

{% endcomment %}
{% load staticfiles %}

{# overide the tile of the page #}
{% block title %}
<title>kutiva</title>
{% endblock %}

{% block styles %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}

<meta charset="utf-8">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible", content="IE=edge">
<meta name="viewport", content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'stylesheet/kutiva/main.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet/kutiva/footer.css' %}">

<style type="text/css">

</style>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140073016-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-140073016-1');
</script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock %}


{% block scripts %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}

{% endblock %}


{% block content %}

{% include "kutiva/layout/navegation.html" %}


<main>
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <img src="{% static 'images/bg.jpg' %}" alt="">

            </div>
            <div class="col-md-5">

                <h1>
                    CURSOS ONLINE PARA APRENDER
                </h1>
                <h2>
                    Possua seu futuro aprendendo novas habilidades on-line</h2>
            </div>
        </div>
    </div>



</header>


       <h1 class="headlineCourse">cursos recentes</h1>

       

  <section class="courses">
    {% for course in courses %}

    <article class="course">
    <!-- <img src="https://udemy-images.udemy.com/course/240x135/1430746_2f43_2.jpg" alt="screencast cover" class="cover"> -->
    
    <h1 class="courseTitle"><a href="{% url 'details' course.id %}">{{ course.name }}</a></h1>
        <ul class="courseDetails">
        <li class="courseAuthor">{{ course.author.first_name|capfirst }} {{ course.author.last_name|capfirst }}</li>
        <li class="skillsLevel">Iniciante</li>
        <img src="https://www.udacity.com/assets/iridium/images/svgs/beginner.svg" alt="level">
        <!-- <p class="decription">{{ course.description|wordwrap:10 }}</p> -->
        </ul>
  </article>
  
              {% endfor %}
</section>

    <button class="seeCourses primary-button"><a href="{% url 'course' %}">todos cursos</a></button>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="price">
                    <h1>
                        0 Meticais
                    </h1>
                    <ul>
                        <li></li>
                    </ul>

                    <button>criar conta</button>

                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-4">
                    <div class="price">
                        <h1>
                                250 Meticais Mensalmente
                        </h1>
                        <ul>
                            <li></li>
                        </ul>

                        <button>criar conta</button>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-4">
                    <div class="price">
                        <h1>
                            2400 Meticais Anualmente

                        </h1>
                        <ul>
                            <li></li>
                        </ul>

                        <button>criar conta</button>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="testimonial">
                    <div>
                        <img src="{% static 'images/perfil.jpg' %}" class="testimonial-photo" alt="testimonial photo">
                        <h1 class="testimonial-name">Jose Machava</h1>
                        <h2 class="testimonial-hobby">Estudante</h2>
                    </div>


                    <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus deleniti dolorum eos error excepturi illum libero molestiae natus pariatur perspiciatis quasi repudiandae sapiente, suscipit! Beatae est odio quasi quis quos?</p>

                </div>
            </div>
            <div class="col-md-4">
                <div class="testimonial">
                    <div>
                        <img src="{% static 'images/perfil.jpg' %}" class="testimonial-photo" alt="testimonial photo">
                        <h1 class="testimonial-name">Jose Machava</h1>
                        <h2 class="testimonial-hobby">Estudante</h2>
                    </div>


                    <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus deleniti dolorum eos error excepturi illum libero molestiae natus pariatur perspiciatis quasi repudiandae sapiente, suscipit! Beatae est odio quasi quis quos?</p>

                </div>
            </div>
            <div class="col-md-4">
                <div class="testimonial">
                    <div>
                        <img src="{% static 'images/perfil.jpg' %}" class="testimonial-photo" alt="testimonial photo">
                        <h1 class="testimonial-name">Jose Machava</h1>
                        <h2 class="testimonial-hobby">Estudante</h2>
                    </div>


                    <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus deleniti dolorum eos error excepturi illum libero molestiae natus pariatur perspiciatis quasi repudiandae sapiente, suscipit! Beatae est odio quasi quis quos?</p>

                </div>
            </div>
        </div>
    </div>

</main>
{% include "kutiva/layout/footer.html" %}


{% endblock %}

