{% extends "kutiva/layout/base.html" %}
{% load staticfiles %}

{% comment %}

{% endcomment %}
{% load staticfiles %}

{# overide the tile of the page #}
{% block title %}
<title>kutiva</title>
{% endblock %}

{% block styles %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}

<meta charset="utf-8">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible", content="IE=edge">
<meta name="viewport", content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'stylesheet/kutiva/main.css' %}">
<link rel="stylesheet" href="{% static 'stylesheet/kutiva/footer.css' %}">

<style type="text/css">

</style>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140073016-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-140073016-1');
</script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock %}


{% block scripts %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}

{% endblock %}


{% block content %}

{% include "kutiva/layout/navegation.html" %}


<main>
<header class="hero hero--header hero-subscription">
    <div class="container-fluid">
        <div class="row">


                </div>

            </div>




</header>






   <div class="container subscription">
       <div class="row">
           <div class="col-md-12">
        <h1>Selecione um plano de aprendizagem para sua 1 mês. Cancele quando desejar. </h1>
            <div class="row">
               <div class="col-md-6">

                    <h4>Mensal </h4>
                   <p>Demonstração gratuita de 1-mês
e USD29,99 por mês após demonstração*</p>
               </div>
               <div class="col-md-6">

                     <h4>Anual </h4>
                   <p> Demonstração gratuita de 1-mês
e USD19,99 por mês após demonstração*</p>
                   </div>
                </div>

                <ul>
                   <li>  Acesse mais de 15.000 cursos criados por especialistas</li>
  <li> Faça quantos cursos desejar; não há limite. Dezenas de novos cursos de negócios, tecnologia e criação adicionados todas as semanas. Cursos disponíveis em inglês, francês, alemão, japonês e espanhol.</li>
  <li> Obtenha recomendações personalizadas de cursos
  <li> Obtenha recomendações personalizadas de cursos com base em seu cargo atual, competências e no que profissionais como você estão aprendendo.</li>
  <li> Assista no computador ou celular sempre que desejar
  <li> Acesse e assista aos cursos no computador ou em dispositivos móveis. Aplicativos disponíveis para iOS e Android.</li>
  <li> Receba um certificado quando completar o curso
  <li> Exiba as competências que você adquiriu no seu perfil do LinkedIn, recebendo um certificado para cada curso assistido.</li>
  <li> Pratique com arquivos de exercícios e testes
  <li> Valide o que você está aprendendo com testes dentro dos cursos e baixe arquivos de exercícios para poder praticar enquanto aprende.</li>
  <li> Utilize arquivos de projeto para praticar enquanto aprende</li>
  <li> Baixe arquivos de exercícios para poder praticar enquanto aprende.</li>
  <li> Baixe no seu dispositivo móvel para assistir off-line</li>
  <li> Baixe e assista aos cursos no seu dispositivo móvel do LinkedIn Learning para visualizá-los sem ter que estar on-line.</li>
  <li> Acesse recursos do LinkedIn Premium Career  </li>

                </ul>
           </div>
       </div>
               </div>

</main>
{% include "kutiva/layout/footer.html" %}


{% endblock %}

