body{
	font-family: 'Roboto', sans-serif;

}
.donation{
	background-color: #003262;
	color: white;
	display: grid;
	grid-template-columns:20% 40% 40%;
	height: 50vh;
	padding: 200px;

}
.donation-amout{
	margin: 40px 0px;
}
.donation-amout li{
	display: inline;
	list-style: none;
	padding: 20px;
	border: 1px solid black;
}
.donation-icon i{
	font-size: 150px;
}