html,
body {
   margin:0;
   padding:0;

   height:100%;

     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
    position: fixed;
width: 100%;
z-index: 1;
}

.hero--header{
    padding-top: 200px;
     background-image: url("../../images/bg1.jpeg");
    position: relative;

}
.hero{

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 24px 0 32px;
    background-color: rgba(0,0,0,0.6);
    height: 600px;


}

.header-button button{
    border: none;
    height: 46px;
    background-color: rgb(7, 71, 166);
    color: white;
    font-weight: bold;
    border-radius: 3px;
}
.course{
    padding-top:50px ;
}
.courses{
    min-height: 750px;

}
.hero-courses{
    height: 350px;

}
.course ul{
    display: inline-flex;
    margin: 0;
    padding: 0;
}
.courseTitle a{
    font-size: 18px;
    color:#333;
    font-weight: bold;
}


.partner img{
    width: 100px;

}
.hero-subscription{
    height: 300px;
    margin-bottom: 50px;
}
.subscription{
    background: #f8f9fa;
}
.seeCourses{
    margin:0 auto;
    color: white;
}
.seeCourses a{
    color: white;
    text-transform: capitalize;
}
a:hover{
    text-decoration: none;
}
.testimonial{
    margin: 100px 0;

}

.testimonial div{
    margin: 0 auto;
    width: 150px;
}

.testimonial-photo{
    width: 80px;
    border-radius: 100%;

}


.testimonial-name {
    font-size: 16px;
    font-weight: bold;
}
.testimonial-hobby{
    font-size: 15px;
}
.partner{
    width: 100%;
    padding-bottom: 50px;
}
.partner h3{
   color: #686f7a;
font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
font-size: 13px;
padding-top: 16px;
text-align: center;
}
.partner img{
    display: block;
margin: 0 auto;
}
.partner-2  img {
    width: 70px;

    margin-top: 0px;
margin-top: 12px;


}
.partner-4 img{
    display: block;

margin: 16px auto;

width: 54px;
}
.header{
    padding: 240px;
}
.header .header-title{
    width: 600px;
    color: white;
}
@media (max-width: 480px){
  .hero{
      height: 300px;
  }
    .testimonial-name, .testimonial-hobby{
        text-align: center;
    }
    .testimonial-photo{
        display: block;
        margin: 0 auto;
    }
}