html,
body {
   margin:0;
   padding:0;
   font-family: 'Open Sans', sans-serif;
   height:100%;
}


header img{
    width: 40vw;
    display: block;
    margin: 0 auto;
}
header h1{
    color: #212416;
    font-weight: 900;
    font-size: 60px;
    font-family: 'Lato', sans-serif;

}
header p{
    color: #212416;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;

}







.testimonial{
    margin: 100px 0;

}

.testimonial div{
    margin: 0 auto;
    width: 150px;
}

.testimonial-photo{
    width: 80px;
    border-radius: 100%;

}


.testimonial-name {
    font-size: 16px;
    font-weight: bold;
}
.testimonial-hobby{
    font-size: 15px;
}


