/* MAIN NAVEGATION*/

nav img {
    width: 50px;
}
ul li{
    margin-left:10px;
}

input[type='search']{
    width: 600px;
}
@media (max-width: 480px){
    input[type='search']{
        width: auto;
    }
    .navbar-toggler{
        border: none;
    }
}