/* MAIN NAVEGATION*/

nav {
    padding: 0 10%;
    display: grid;
    grid-template-columns: 10% 40% 50%;
    animation: sticky-slide-down 0.4s ease 0.25s forwards;
    height: 80px;
    background: white;
    border-bottom: 1px solid #e1e1e1;
    -webkit-box-shadow: 0 2px 2px -2px rgba(0,0,0,0.08);
    box-shadow: 0 2px 2px -2px rgba(0,0,0,0.08);

}

nav img {
    width: 50px;
}
li ul{
     border: 1px solid #e1e1e1;
     height: 100px;
     position: absolute;
     width: 100px;
     top: 60px;
}

form {
    margin-top: 15px;

}

.card {
    background: white;
    box-shadow: 0px 1px 20px 0px rgba(46, 61, 73, 0.2);
    -webkit-animation: sticky-slide-down 0.4s ease 0.25s forwards;

}

.SearchInput {
    padding: .75em 1.75em;
    width: 100%;
    border: 1px solid #dbe2e8;
    color: #2e3d49;
    max-width: 50rem;
    outline: none;
    margin: 0 auto;
    height: 3.5rem;
    font-size: 0.9rem;
    border-radius: 8px;
    display: block;
    text-transform: capitalize;
    font-size: 19px;
    color: #0000ff;
}

.SearchResult {
    z-index: 1;
    border-radius: 8px;
}





.SearchInput {
    padding: .75em 1.75em;
    width: 100%;
    border: 1px solid #dbe2e8;
    color: #2e3d49;
    max-width: 50rem;
    outline: none;
    margin: 0 auto;
    height: 3.5rem;
    font-size: 0.9rem;
    border-radius: 8px;
    display: block;
    text-transform: capitalize;
    font-size: 19px;
    color: #0000ff;
}

.SearchResult {
    z-index: 1;
    border-radius: 8px;
}









/*MAIN NAVEGATION*/

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    main, nav{
        padding: 0 15%;
    }
    nav{

     grid-template-columns: 10% 50% 40%;
    }
    .defaultHeader, .classroom {

    margin: 0 -21.3%;
  
    }
}
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
   main, nav{
        padding: 0 10%;
    }
    nav{

     grid-template-columns: 10% 50% 40%;
    }
    .defaultHeader, .classroom{

    margin: 0 -12.5%;

    }
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
      main, nav{
        padding: 0 5%;
    }
 
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  //CSS
  
}

Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  //CSS
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
   nav {
        display: grid;
        grid-template-columns: 20% 60% 10% 10%;
        height: 60px;

    }
   
    nav img {
        margin-top: -15px;
    }

    form input[type="search"] {
        margin-top: 13px;
    }
     .courses {
   display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:0px 0px;   
}
    .course{
        width: 100%;
        padding: 10px 20px;
    }
    .course{
        width: 100%;
    }
    .course ul{
        padding: 0;
    }
    .course img{
        width: inherit;
    }
    .paidCoursesHeaderTitle {
    color: blue;
    font-weight: normal;
    font-size: 20px;
    margin: 20px;
    }
   
    .course h1 a {

    padding-left: 0px;
    font-size: 17px;
    }

    .hide-mobile {
        display: none;
    }

    .searchIcon {
        display: block;
        margin-top: 20px;
        font-size: 19px;
        color: blue;
        margin-left: 77px;
        float: right;
        padding-right: 25px;
    }

    .menuIcon {
        font-size: 24px;
        color: blue;
        margin-top: 15px;
    }

    .closeIcon {
        font-size: 26px;
        color: blue;
        float: right;
        margin-top: 15px;
    }

    .mobileMenu {
        float: right;
        padding: 0;
        margin: 0;
        background: whitesmoke;
        height: 100vh;
        width: 70vw;
        display: none;
        position: sticky;


    }

    .mobileMenu li {
        margin: 0;
        padding: 20px 30px;
        display: block;
        text-align: center;

    }

    .SearchInput {
        padding: 10px;
        width: 100%;
        border: 1px solid #dbe2e8;
        color: #2e3d49;
        max-width: 50rem;
        outline: none;
        margin: 0 auto;
        height: 40px;
        font-size: 0.9rem;
        border-radius: 8px;
        display: block;
        text-transform: capitalize;
        font-size: 19px;
        color: #0000ff;
        display: none;
    }
    
  
}