{% extends "kutiva/layout/base.html" %}
{% load staticfiles %}

{% comment %}

{% endcomment %}
{% load staticfiles %}

{# overide the tile of the page #}
{% block title %}
<title>kutiva</title>
{% endblock %}


{% block styles %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}

<meta charset="utf-8">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible", content="IE=edge">
<meta name="viewport", content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'stylesheet/kutiva/main.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet/course/course.css' %}">

<link rel="stylesheet" href="{% static 'stylesheet/kutiva/footer.css' %}">

<style type="text/css">

</style>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140073016-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-140073016-1');
</script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock %}


{% block scripts %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}

{% endblock %}


{% block content %}

{% include "kutiva/layout/navegation/navegation.html" %}


<main>
<header class="hero hero--header course-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">


            </div>

                </div>

            </div>




</header>






    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <div class="perfil">
                        <img class="perfil-photo" src="{{ student.photo.url }}" alt="user photo">
                        <h1 class="perfil-title">{{ student.user.first_name|capfirst }}
                        {{ student.user.last_name|capfirst }}</h1>
                        <h2 class="perfil-subtitle">{{ student.role }}</h2>
                        <ul>
                            <li><span><i class="fal fa-university"></i></span> {{ student.educational_institution }}</li>
                             <li><span><i class="fal fa-phone-alt"></i></span>{{ student.phone_number }}</li>
                            <li><span><i class="fal fa-map-marker-check"></i></span>{{ student.location }}</li>
                            <li><span><i class="fal fa-envelope"></i></span>{{ student.user.email }}</li>
                            <li><span><i class="fal fa-calendar-alt"></i></span>{{ student.birth_date }}</li>
                        </ul>
                         <!-- <a href="{% url 'edit' user.student.id %}">  Editar</a> -->
                          <a href="#">  Editar</a>



                    </div>

            </div>

</div>
    </div>
</main>
{% include "kutiva/layout/footer.html" %}


{% endblock %}

