{% extends "kutiva/layout/base.html" %}
{% load staticfiles %}

{% comment %}

{% endcomment %}
{% load staticfiles %}

{# overide the tile of the page #}
{% block title %}
    <title>kutiva</title>
{% endblock %}

{% block styles %}
<!-- <link rel="stylesheet" href="{% static 'stylesheet/kutiva/library/malangatana.css' %}">
<link rel="stylesheet" href="{% static 'stylesheet/kutiva/navegation.css' %}">
<link rel="stylesheet" href="{% static 'stylesheet/kutiva/main.css' %}"> -->
<link rel="stylesheet" href="{% static 'stylesheet/account/signin.css' %}">

<!-- <link rel="stylesheet" href="{% static 'stylesheet/kutiva/footer.css' %}"> -->

{% endblock %}



{% block content %}
  <!-- {% include "kutiva/layout/navegation.html" %} -->
    <div class="container-fluid">
        <div class="container">
            <div><h2>Sign In</h2></div>

                    <form  action="signin" method="post">
                         {% csrf_token %}
                         <div class="form-group">
                             {% for message in messages %}

                    <div class="alert alert-success">
                        <a class="close" href="#" data-dismiss="alert">×</a>

                        {{ message }}

                    </div>
                    {% endfor %}
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email" name="username">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" name="password" class="form-control" id="pwd">
  </div>
  <div class="form-group form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox"> Remember me
    </label>
  </div>
  <button type="submit" class="button-submit">Submit</button>
     </form>
            
</div>
</div>

   
    {# include the same footer for ever page #}
        {% include "kutiva/layout/footer.html" %}
{% endblock %}

