{% extends "kutiva/layout/base.html" %}
{% load staticfiles %}

{% comment %}

{% endcomment %}
{% load staticfiles %}

{# overide the tile of the page #}
{% block title %}
    <title>kutiva</title>
{% endblock %}

{% block styles %}
<!-- <link rel="stylesheet" href="{% static 'stylesheet/kutiva/library/malangatana.css' %}">
<link rel="stylesheet" href="{% static 'stylesheet/kutiva/navegation.css' %}">
<link rel="stylesheet" href="{% static 'stylesheet/kutiva/main.css' %}"> -->


<link rel="stylesheet"  href="{% static 'stylesheet/kutiva/library/malangatana.css' %}">
<link rel="stylesheet" href="{% static 'stylesheet/account/signin.css' %}">
{% endblock %}



{% block content %}
<main>
    <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">


 
                    <form  action="signin" method="post">
                    <h1><img src="{% static 'images/logo2.png' %}" class="logo" alt="kutiva logo"></h1>
                         {% csrf_token %}
                        
                         <input type="email" placeholder="E-mail" class="inputField" name="username">
                         <input placeholder="Senha" type="password" class="inputField" name="password">
                        <p><a href="{% url 'password_reset' %}" class="unstyledLink link-button">Esqueceu a senha?</a></p>
                        <input type="submit" name="hello" class="primary-button" value="Entrar">
                          
                       {% for message in messages %}
                          <p class="error text-center"> {{ message }}</p>
                    {% endfor %}

                    <p class="text-center"><a class="unstyledLink link-button" href="{% url 'student_sigin' %}">ou criar conta</a></p>
                     </form>

    </div>
    </div>


        </main>
      

   
{% endblock %}

