.content{
   	display: grid;
	grid-template-columns:20% 80%;
    background-color: #e8fbfd;
    margin-top: 100px;
    height: 100vh;
    padding: 50px 150px;
}
.screencast{
    margin-top: 0;
    margin-bottom: 1.5rem;
    background: #fff;
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
    border-radius: .375rem;
    transition: all .3s ease;
    display: flex;
    height: 200px;
    width: 80%;
}
.cover{
    display: block;
    width: 300px;
    padding: 10px;
}
.categories ul li{
    list-style: none;
    font-size: 18px;
    padding: 10px;
    text-transform: capitalize;

}