

.unstyledList {
    list-style-type: none;
    text-transform: capitalize
}

.unstyledLink {
    text-decoration: none;
    color: black
}

.unstyledLink :hover {
    color: black
}

.resetPadding{
    padding: 0;

}
.error{
    color:red;
}
.resetMargin{
    margin: 0;
}
.inputField{
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #dbe2e8;
    font-size: 14px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(46,60,73,.05);
    box-shadow: 0 2px 2px 0 rgba(46,60,73,.05);
    border-radius: 2px;
    color: #2e3d49;
    margin: 10px;
        border-radius: 4px;
            height: 44px;

}

.alignCenter{
  display: grid;
  height: 100vh;
  place-items: center center;

}
.alignElementCenter{
  display: grid;
  place-items: center center;

}

.alignTextCenter{
    text-align: center;
}

.alignTextRight{
    text-align: right;
}

.alignTextLeft{
    text-align: left;
}
.defaultHeader{

    height: 30vh;
    color: #3a343a;
    background-color: #F6F8FA;
 }



@media only screen and  (max-width: 480px) {

    .smallHeading{
        font-size: 25px;
        text-transform: capitalize;
    }

}
@media only screen and (min-width: 768px  ) and (max-width: 992px) {

    .mediumHeading{

    }

}
@media only screen and (min-width: 993px) and (max-width: 1200px){
    .largeHeading{

    }
}



@media only screen and  (min-width: 1201px){
    .extraLargeHeading{

    }
}