{% load staticfiles %}

<footer>
    <div class="container">
        <div class="row">
           {% if user.is_authenticated %}

            <div class="col-md-4">
                <h1>Contacto</h1>
                <ul>
                    <li><a href="tel:+258849394995"><span><i class="fal fa-phone-alt"></i></span>+255849394995</a></li>
                    <li><a href="mailto:info@kutiva.co.mz"><span><i class="fal fa-envelope"></i></span>info@kutiva.co.mz</a></li>
                    <li><a href=""><span><i class="fal fa-map-marker-check"></i> </span>Av. Ahmed Sekou Touré n.610</a></li>
                </ul>
            </div>

                 <div class="col-md-4">
                <h1>Social Media</h1>
                <ul>
                      <li><a href="https://web.facebook.com/kutivaacademy" target="_blank">facebook</a></li>
                    <li><a href="https://www.youtube.com/channel/UCj0Y2NR3_cDJqypMc0XO50w" target="_blank">youtube</a></li>
                    <li><a href="https://twitter.com/_kutiva" target="_blank">twitter</a></li>
                </ul>
            </div>
           <!-- <div class="col-md-3">
                <h1>empresa</h1>
                <ul>
                    <li><a href="">sobre nos</a></li>
                    <li><a href="">blog</a></li>

                </ul>
            </div>
            -->

            <div class="col-md-4">

                <h1>Informação</h1>
                <ul>
                    <li><a href="{% url 'security' %}">segurança</a></li>
                    <li><a href="{% url 'policies' %}">políticas e privacidade</a></li>
                    <li><a href="{% url 'terms' %}">termos e condições</a></li>
                </ul>
            </div>



        </div>
    </div>

    <p>&copy  Kutiva {% now 'Y' %}

           {% else %}

            <div class="col-md-3">
                <h1>Contacto</h1>
                <ul>
                    <li><a href=""><span><i class="fal fa-phone-alt"></i></span>+255849394995</a></li>
                    <li><a href=""><span><i class="fal fa-envelope"></i></span>info@kutiva.co.mz</a></li>
                    <li><a href=""><span><i class="fal fa-map-marker-check"></i> </span>Av. Ahmed Sekou Touré n.610 </a></li>
                </ul>
            </div>

             <div class="col-md-3">
                <h1>Social Media</h1>
                <ul>
                    <li><a href="https://web.facebook.com/kutivaacademy" target="_blank">facebook</a></li>
                    <li><a href="https://www.youtube.com/channel/UCj0Y2NR3_cDJqypMc0XO50w" target="_blank">youtube</a></li>
                    <li><a href="https://twitter.com/_kutiva" target="_blank">twitter</a></li>
                </ul>
            </div>


            <div class="col-md-3">

                <h1>Informação</h1>
                <ul>
                    <li><a href="{% url 'security' %}">segurança</a></li>
                    <li><a href="{% url 'policies' %}">políticas e privacidade</a></li>
                    <li><a href="{% url 'terms' %}">termos e condições</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h1>links</h1>
                <ul>


                    <li><a   href="{% url 'course' %}"> cursos</a></li>
                    <li><a   href="{% url 'signin' %}">entrar</a> </li>
                    <li><a   href="{% url 'student_sigin' %}">criar conta</a> </li>

                    <!--<li><a href="">eventos</a></li>
                -->
                </ul>
            </div>

        </div>
    </div>

    <p>&copy  Kutiva {% now 'Y' %}

           {% endif %}



</footer>

