{% load staticfiles %}
{% if user.is_authenticated %}
     <nav class="hide-mobile card">
    <h1><img src="{% static 'images/logo2.png' %}" alt="kutiva logo"></h1>
    <ul>

        <li>categorias</li>
        <li>cursos</li>
        <li>preço</li>
    </ul>


       <ul>

        <li>meus cursos</li>
           <li>{{ user.firt_name }}</li>

       </ul>
</nav>


{%  else %}
<nav class="hide-mobile card">
    <h1><img src="{% static 'images/logo2.png' %}" alt="kutiva logo"></h1>
    <ul>

        <li>categorias</li>
        <li>curso</li>
       
    </ul>
    <form action="">
        <input type="search" placeholder="search">
    </form>

       <ul>
        <li class="cart"><i class="fas fa-shopping-cart"></i></li>
        <li>sign in</li>
        <li>sign up</li>

       </ul>
</nav>


 <nav class="card hide-desktop">
             <h1><img src="{% static 'images/logo2.png' %}" alt="kutiva logo"></h1>


           <div clasS="">
                <p class="searchIcon"><i class="fas fa-search"></i></p>
            </div>
           <div>

                <p class="menuIcon"><i class="fas fa-bars"></i></p>
                <ul class="mobileMenu">
                    <li>Categorias</li>
                    <li>Cursos</li>
                    <li>sign in</li>
                    <li class="signIn">sign up</li>
                </ul>



           </div>

</nav>

{% endif %}

