{% load staticfiles %}

<script  src="{% static 'javascript/navegation.js' %}"></script>
<link rel="stylesheet" href="{% static 'stylesheet/kutiva/navegation.css' %}">

{% load staticfiles %}




<nav class="navbar navbar-expand-lg navbar-light bg-light desktop-menu" >
    <div class="container">
       <a class="navbar-brand" href="{% url 'index'%}"><h1> <img src="{% static 'images/logo2.png' %}" alt="kutiva logo"></h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <div class="navbar-nav mr-auto">
            <input type="search" placeholder="pesquisar" >
        </div>

        <ul class="navbar-nav">











         {% if user.is_authenticated %}
                <li class=" nav-item link-button"><a class="unstyledLink link-button"  href="{% url 'course' %}"> curso</a></li>

            <div class="dropdown">
  <li class=" dropdown-toggle user"id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     <i class="far fa-user"></i>
  </li>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
         <a class="dropdown-item" href="{%  url 'logout' %}">Perfil</a>
        <a class="dropdown-item" href="{%  url 'logout' %}">Sair</a>
      </div>
    </div>

        </ul>

 {% else %}

        <ul class="navbar-nav">


            <li class="nav-item link-button"><a class="unstyledLink link-button"  href="{% url 'signin' %}">Entrar</a> </li>
            <li class="nav-item link-button"><a class="unstyledLink link-button"  href="{%  url 'student_sigin' %}">criar conta</a> </li>







        </ul>
   {% endif %}

    </div>

    </div>



    </div>
   </nav>

<nav class="mobile-menu">
        <a class="navbar-brand" href="{% url 'index'%}"><h1> <img src="{% static 'images/logo2.png' %}" alt="kutiva logo"></h1></a>
{% if user.is_authenticated %}
        <ul class="login">

          <!--  <li><i class="fal fa-bars"></i></li>-->
            <li class="search-icon"><span><i class="fal fa-search"></i></span></li>
            <li> <span><i class="fal fa-book-open"></i></span></li>
            <li class="user-icon"><span><i class="fal fa-user"></i></span>

            </li>
        </ul>
        <ul class="user-menu">
                    <li>Editar</li>
                    <li>Sair</li>
                </ul>
             {% else %}
    <ul class="logout">
                     <li class="nav-item link-button"><a class="unstyledLink link-button"  href="{% url 'signin' %}">Entrar</a> </li>
                    <li class="nav-item link-button"><a class="unstyledLink link-button "  href="{%  url 'student_sigin' %}">criar conta</a> </li>


            {% endif %}
        </ul>
    <form action="" class="search-mobile">
        <input type="search" placeholder="pesquisar">
    </form>
</nav>

