{% load staticfiles %}
<script src="{% static 'javascript/navegation.js' %}"></script>
<link rel="stylesheet" href="{% static 'stylesheet/kutiva/navegation.css' %}">

{% load staticfiles %}


<nav class="desktop-menu">
    <h1><a href="{% url 'index' %}"> <img src="{% static 'images/logo2.png' %}" alt="kutiva logo"></a></h1>
    <input type="search" placeholder="pesquisar">
    {% if user.is_authenticated %}
        <ul>
            <li><a href="{% url 'course' %}"> <span><i class="fal fa-book-open"></i></span></a></li>
            <!--<li><span><i class="fal fa-bell"></i></span></li> -->
            <li class="user-icon user-name">
                {{ user.first_name|capfirst|make_list|first }} {{ user.last_name|capfirst|make_list|first }}</li>
                <ul class="user-menu">

                <li><a href="{% url 'perfile' user.id %}">Editar</a></li>
              <!--  <li><a href="{% url 'logout' %}">Ajuda</a></li> -->
                <li><a href="{% url 'logout' %}">Sair</a></li>
        </ul>

        </ul>





        </ul>

    {% else %}

        <ul>
            <li class="nav-item link-button"><a class="unstyledLink link-button" href="{% url 'price' %}">Preço</a></li>


            <li class="nav-item link-button"><a class="unstyledLink link-button" href="{% url 'signin' %}">Entrar</a>
            </li>
            <li class="nav-item link-button"><a class="unstyledLink link-button" href="{% url 'student_sigin' %}">criar
                conta</a></li>


        </ul>
    {% endif %}


</nav>


<nav class="mobile-menu">
    <a class="" href="{% url 'index' %}"><h1><img src="{% static 'images/logo2.png' %}" alt="kutiva logo">
    </h1></a>
    {% if user.is_authenticated %}
        <ul class="login">

            <!--  <li><i class="fal fa-bars"></i></li>-->
            <li class="search-icon"><span><i class="fal fa-search"></i></span></li>
            <li><a href="{% url 'course' %}"> <span><i class="fal fa-book-open"></i></span></a></li>
            <li class="user-icon"><img src="{% static "images/perfil.jpg" %}" class="user-photo" alt="user photo">


            </li>
        </ul>
        <ul class="user-menu">
            <li><img src="{% static "images/perfil.jpg" %}" class="user-photo" alt="testimonial photo">
                {{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</li>

            <li><a href="{% url 'perfile' user.id %}">Editar</a></li>
            <li><a href="{% url 'logout' %}">Sair</a></li>
        </ul>
    {% else %}
        <ul class="logout">
        <li class="nav-item link-button"><a class="unstyledLink link-button" href="{% url 'signin' %}">Entrar</a></li>
        <li class="nav-item link-button"><a class="unstyledLink link-button " href="{% url 'student_sigin' %}">criar
            conta</a></li>


    {% endif %}
    </ul>
    <form action="" class="search-mobile">
        <input type="search" placeholder="pesquisar">
    </form>
</nav>

