{% load staticfiles %}

<script  src="{% static 'javascript/navegation.js' %}"></script>
<link rel="stylesheet" href="{% static 'stylesheet/kutiva/navegation.css' %}">


{% if user.is_authenticated %}
     <nav class="hide-mobile card">
    <h1><a href="{% url 'index'%}"> <img src="{% static 'images/logo2.png' %}" alt="kutiva logo"></a></h1>
   

        <form action="">
                <input type="search" placeholder="search" class="SearchInput">
                         </form>
        
       <ul class="alignRight unstyledList">
        <li class="link-button"><a class="unstyledLink link-button" href="{% url 'course' %}"> Cursos</a></li>
       <li class="link-button"><a class="unstyledLink link-button"  href="{% url 'mycourses' %}">Meus Cursos</a></li>
           <li class="user-name link-button">{{ user.first_name}} {{ user.last_name }} {{ user.firt_name}}<i class="fas fa-sort-down"></i>
                <ul class="card unstyledList settings">
                       <li class="link-button"><a class="unstyledLink link-button"  href="{% url 'logout' %}"> Sair</a></li>
                </ul>
            </li>

       </ul>
</nav>

<nav class="card hide-desktop">
        <h1><a href="{% url 'index'%}"> <img src="{% static 'images/logo2.png' %}" alt="kutiva logo"></a></h1>
           <form action="">
                <input type="search" placeholder="search" class="SearchInput">
           </form>
           <div class="">
                <p class="searchIcon"><i class="fas fa-search"></i></p>
            </div>
           <div>

                <p class="menuIcon"><i class="fas fa-bars"></i></p>
                <div class="mobileMenu">
                          <p class="closeIcon"><i class="fas fa-times"></i></p>
                             <ul class="unstyledList">
                               <li class="link-button link-button"><a class="unstyledLink link-button"href="{% url 'course' %}"> Cursos</a></li>
                    <li class="link-button"><a class="unstyledLink link-button"  href="{% url 'mycourses' %}">Meus Cursos</a></li>
                    <!-- <li>Perfil</li> -->
                    <li class="link-button"><a class="unstyledLink link-button"  href="{% url 'logout' %}"> Sair</a></li>
                </ul>

                </div>




           </div>

</nav>


{%  else %}
<nav class="hide-mobile card">
   <h1><a href="{% url 'index'%}"> <img src="{% static 'images/logo2.png' %}" alt="kutiva logo"></a></h1>
      <form action="">
                <input type="search" placeholder="search" class="SearchInput">
       </form>






       <ul class="alignRight unstyledList">

        <li class="link-button"><a class="unstyledLink link-button"  href="{% url 'course' %}"> Cursos</a></li>
        <li class="link-button"><a class="unstyledLink link-button"  href="{% url 'signin' %}">Iniciar Sessão</a> </li>
        <li class="link-button"><a class="unstyledLink link-button"  href="{%  url 'student_sigin' %}">criar conta</a> </li>

       </ul>
</nav>


 <nav class="card hide-desktop">
       <h1><a href="{% url 'index'%}"> <img src="{% static 'images/logo2.png' %}" alt="kutiva logo"></a></h1>
           <form action="">
                <input type="search" placeholder="search" class="SearchInput">
           </form>
           <div clasS="">
                <p class="searchIcon"><i class="fas fa-search"></i></p>
            </div>
           <div>

                <p class="menuIcon"><i class="fas fa-bars"></i></p>
                <div class="mobileMenu">
                          <p class="closeIcon"><i class="fas fa-times"></i></p>
                             <ul class="unstyledList link-button">
                  
        <li class="link-button"><a class="unstyledLink link-button"  href="{% url 'course' %}"> Cursos</a></li>
     
                   <li class="link-button"><a class="unstyledLink link-button"  href="{% url 'signin' %}">Iniciar Sessão</a> </li>
        <li class="link-button"><a class="unstyledLink link-button"  href="{%  url 'student_sigin' %}">criar conta</a> </li>

                </ul>

                </div>




           </div>

</nav>

{% endif %}

