body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

main {
    flex: 1;
}


.month, .anual {
rgba(0, 0, 0, .15), 0 2 px 3 px rgba(0, 0, 0, .2);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 2px 3px rgba(0, 0, 0, .2);
    -webkit-transition: -webkit-box-shadow 83ms;
    transition: -webkit-box-shadow 83ms;
    transition: box-shadow 83ms;
    padding: 30px;
    transition: box-shadow 83ms, -webkit-box-shadow 83ms;
    background: #fff;
    height: 625px;
}

.hero--header {
    padding-top: 200px;
    background-image: url("../../images/bg1.jpeg");
    position: relative;

}

.hero {

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 24px 0 32px;
    background-color: rgba(0, 0, 0, 0.6);
    height: 600px;


}

.header-button button {
    border: none;
    height: 46px;
    background-color: rgb(7, 71, 166);
    color: white;
    font-weight: bold;
    border-radius: 3px;
}

.course {
    padding-top: 50px;
}

.courses {
    min-height: 750px;

}

.hero-courses {
    height: 350px;

}

.course ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.courseTitle a {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}


.partner img {
    width: 100px;

}

.partner-title {
    text-align: center;
}

.hero-subscription {
    height: 300px;
    margin-bottom: 50px;
}

.subscription {
    padding: 50px 0;

}

.subscription ul li {
    padding: 10px;
    font-size: 17px;
}

.subscription ul li span {
    font-size: 20px;
    margin-right: 10px;

}

.seeCourses {
    margin: 0 auto;
    color: white;
}

.seeCourses a {
    color: white;
    text-transform: capitalize;
}

a:hover {
    text-decoration: none;
}

.testimonial {
   background-color: #fff;
border-radius: 3px;
box-shadow: 0 1px 3px 0 rgba(20,23,28,.15);
min-height: 260px;
height: auto;
padding: 18px;
width: auto;
margin: 30px 0;
}
.course-image{
    width: 300px;
}

.testimonials{

}
.testimonial-title {
    font-family: OpenSans, Arial, sans-serif;
    font-weight: 700;
    color: #1f1f1f;
    text-align: center;
    font-size: 32px;
    line-height: 44px;
    margin: 0 20px 14px;
}

.testimonial-subtitle {
    font-family: OpenSans, Arial, sans-serif;
    color: #666;

    text-align: center;
    font-size: 24px;
    line-height: 44px;
    margin: 0 20px;
}

.testimonial-text {
    font-family: OpenSans, Arial, sans-serif;
    font-size: 16px;
    line-height: 32px;
    text-align: left;
}

.testimonial div {
    margin: 0 auto;
    width: auto;
}

.testimonial-photo {
    width: 50px;
    border-radius: 100%;

    display: block;

    margin: auto;

}


.testimonial-name {
    font-family: OpenSans, Arial, sans-serif;

    font-size: 18px;
    font-weight: normal;
    line-height: 27px;
    text-align: center;
}

.partner-title {
    margin-top: 20px;
    font-size: 18px;
    font-weight: normal;
    font-family: OpenSans, Arial, sans-serif;

hsla(0, 0 %, 47 %, .75);

}

.goals span {
    font-size: 52px;
    display: block;
    text-align: center;
}

.goals h1 {
    text-align: center;
}

.testimonial-hobby {
    font-size: 15px;
}

.partner {
    width: 100%;
    padding-bottom: 50px;
}

.objectives-title {
    font-size: 27px;
}

.partner h3 {
    color: #686f7a;
    font-family: open sans, helvetica neue, Helvetica, Arial, sans-serif;
    font-size: 13px;
    padding-top: 16px;
    text-align: center;
}

.partner img {
    display: block;
    margin: 0 auto;
}

.partner-2 img {
    width: 70px;

    margin-top: 0px;
    margin-top: 12px;


}

.mobile-menu {
    display: none;
}

.partner-4 img {
    display: block;

    margin: 16px auto;

    width: 54px;
}

.course-title a {
    font-size: 23px;
    color: black;
    text-transform: capitalize;

}

.course-class {
    min-height: 60vh;

    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 2px 3px rgba(0, 0, 0, .2);
}

.header {
    padding: 240px;
    background-color: rgba(45, 45, 45, 0.5);
}

.course-title {
    font-size: 20px;
}

.course-class h3 {
    font-size: 20px;

}

.header .header-title {
    width: 600px;
    color: white;
}


@media (min-width: 1281px) {


}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {


}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {


}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {


}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .hero {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .header {
        padding: 71px;
    }

    .header-title {
        font-size: 20px;
    }

    .subscription h1 {
        font-size: 20px;
        text-align: center;
    }

    .course-header {
        height: 200px;
    }

    .testimonial-name, .testimonial-hobby {
        text-align: center;
    }

    .testimonial-photo {
        display: block;
        margin: 0 auto;
        width: 230px;
    }

    .anual, .month {
        margin-top: 30px;
        height: auto;
    }

    .header .header-title {

        width: auto;
        color: white;
        font-size: 31px;

    }

    .perfil {
        margin-top: 70px;
    }

    .perfil-photo {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        margin: 0 auto;
        display: block;
    }
    .perfil ul li span{
        padding-right: 10px;
    }

    .perfil-title {
        font-size: 20px;
        font-weight: normal;
        text-align: center;
        margin-top: 20px;
    }

    .perfil-subtitle {
        text-align: center;

        font-size: 16px;

        font-weight: normal;
    }

    .perfil a {
        background: rgb(7, 71, 166);
        width: 155px;
        display: block;
        height: 37px;
        text-align: center;
        color: white;
        border-radius: 4px;
        line-height: 34px;
        margin: 0 auto;
    }
}