{% load staticfiles %}
<script src="{% static 'javascript/navegation.js' %}"></script>
<script src="{% static 'javascript/search.js' %}"></script>

<link rel="stylesheet" href="{% static 'stylesheet/kutiva/navegation.css' %}">

{% load staticfiles %}


<nav class="desktop-menu">
    <h1><a href="{% url 'index' %}"> <img src="{% static 'images/logo2.png' %}" alt="kutiva logo"></a></h1>
    {% include "kutiva/layout/navegation/search.html" %}

    {% if user.is_authenticated %}
        <ul>
            <li><a href="{% url 'course' %}"> <span><i class="fal fa-book-open"></i></span></a></li>
            <!--<li><span><i class="fal fa-bell"></i></span></li> -->
            <li class="user-icon">
                {% if user.student.photo %}
                    <img src="{{ user.student.photo.url }}" class="user-photo" alt="testimonial photo">

                {% else %}
                    <span class="user-name">{{ user.first_name|capfirst|make_list|first }} {{ user.last_name|capfirst|make_list|first }}</span>
                    </li>

                {% endif %}</li>
            <ul class="user-menu">

                <li><a href="{% url 'perfile' user.student.id %}">Editar</a></li>
                <!--  <li><a href="{% url 'logout' %}">Ajuda</a></li> -->
                <li><a href="{% url 'logout' %}">Sair</a></li>
            </ul>

        </ul>





        </ul>

    {% else %}

        <ul>
            <li class="nav-item link-button"><a class="unstyledLink link-button" href="{% url 'price' %}">Preço</a></li>


            <li class="nav-item link-button"><a class="unstyledLink link-button" href="{% url 'signin' %}">Entrar</a>
            </li>
            <li class="nav-item link-button"><a class="unstyledLink link-button" href="{% url 'student_sigin' %}">criar
                conta</a></li>


        </ul>
    {% endif %}


</nav>


<nav class="mobile-menu">

    {% if user.is_authenticated %}
        {% include "kutiva/layout/navegation/mobile-search.html" %}

    {% else %}
        <h1>
            <a class="" href="{% url 'index' %}">
                <img src="{% static 'images/logo2.png' %}" alt="kutiva logo">
            </a>
        </h1>


            <ul>
                <li><a href="{% url 'signin' %}">Entrar</a></li>
                <li><a href="{% url 'student_sigin' %}">Criar conta</a></li>


            </ul>


    {% endif %}


</nav>

