{% load staticfiles %}
<script src="{% static 'javascript/navegation.js' %}"></script>
<script src="{% static 'javascript/search.js' %}"></script>

<link rel="stylesheet" href="{% static 'stylesheet/kutiva/navegation.css' %}">

{% load staticfiles %}


<nav class="desktop-menu">
    <h1><a href="{% url 'index' %}"> <img src="{% static 'images/logo2.png' %}" alt="kutiva logo"></a></h1>
    {% include "kutiva/layout/navegation/search.html" %}

    {% if user.is_authenticated %}
        <ul>
            <li><a href="{% url 'course' %}"> <span><i class="fal fa-book-open"></i></span></a></li>
            <!--<li><span><i class="fal fa-bell"></i></span></li> -->

            <div class="dropdown">
              <li class="radius"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   {{ user.first_name|capfirst|make_list|first }}
                </li>

              </li>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'perfil' user.student.id %}">Perfil</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Sair</a>

              </div>
            </div>



        </ul>





        </ul>

    {% else %}

        <ul>
            <li class="nav-item link-button"><a class="unstyledLink link-button" href="{% url 'price' %}">Preço</a></li>


            <li data-toggle="modal" data-target="#exampleModalCenter" class="nav-item link-button">Entrar </li>

            <li class="nav-item link-button"><a class="unstyledLink link-button" href="{% url 'student_sigin' %}">criar
                conta</a></li>


        </ul>
    {% endif %}


</nav>


<nav class="mobile-menu">

    {% if user.is_authenticated %}
        {% include "kutiva/layout/navegation/mobile-search.html" %}

    {% else %}
        <h1>
            <a class="" href="{% url 'index' %}">
                <img src="{% static 'images/logo2.png' %}" alt="kutiva logo">
            </a>
        </h1>


        <ul>
            <li><a href="{% url 'signin' %}">Entrar</a></li>
            <li><a href="{% url 'student_sigin' %}">Criar conta</a></li>


        </ul>


    {% endif %}


</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
           <div class="modal-header">


                <form  class="navagation-signin-form" action="{% url 'signin' %}" method="post">
                   <!-- <p class="text-center">Crie habilidades para hoje, amanhã e além.
Educação para preparar sua carreira para o futuro.</p>-->
                         {% csrf_token %}

                         <input type="email" placeholder="E-mail" class="inputField" name="username">
                          {% for message in messages %}
                          <p class="error text-center"> {{ message }}</p>
                    {% endfor %}
                         <input placeholder="Senha" type="password" class="inputField" name="password">
                          <p><a href="{% url 'password_reset' %}" class="unstyledLink link-button">Esqueceu a senha?</a></p>

                        <input type="submit" name="hello" class="primary-button" value="Entrar">


                     <p class="text-center">Não tem uma conta? <a class="unstyledLink link-button" href="{% url 'student_sigin' %}">Crie uma conta em segundos</a></p>

                     </form>
           </div>
        </div>
    </div>
</div>
